body {
    font-family: "open sans";
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --chartreuse: #BCAF00;
}

.logo {
    max-width: 15%;
    margin: 40px 0px 0px 80px;
    position: ;
}

.logofooter {
    max-width: 15%;
    margin: 0px 0px 0px 0px
}

.navbar {
    color:white;
    background-color:black;
    font-size: 40px;
    font-weight: bold;
    overflow: scroll;
    font-family: "open sans";
    text-align: right;
}

.navbardiv {
    margin: 0px 120px 0px 0px;
}

.navbar:hover {
    color: var(--chartreuse);
    cursor: pointer;
}

.navbar:active {
    color:orangered;
}

.motto {
    color: white;
    background-color: black;
    font-size: 100px;
    font-weight:;
    margin: 60px 0px 40px 120px;
}

.mottofun1:hover {
    color:#BCAF00;
    cursor: crosshair;
}

.calltoaction {
    color: var(--chartreuse);
    background-color: black;
    font-size: 40px;
    font-weight: ;
    width: 20rem;
    height: 4rem;
    text-align: center;
    border: 2px;
    border-style:solid;
    border-color: var(--chartreuse);
    border-radius: 20rem;
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 0px 120px;
}

.calltoaction:hover {
    cursor: pointer;
    background-color: #BCAF00;
    color: black;
    border-color: var(--chartreuse);
}

.calltoaction:active {
    background-color:orangered;
    color:black;
    border-color:orangered
}

.blurb {
    color: white;
    background-color: black;
    font-size: 16px;
    width: 50%;
    margin: 20px 0px 60px 120px;

}
.blurbtitle {
    color: var(--chartreuse);
    background-color: black;
    font-size: 30px;
    margin: 30px 0px 0px 120px;
    font-weight: bold;
}

.fullwidthimage {
    max-width: 100%;
}

.quote {
    color: white;
    background-color: black;
    font-size: 50px;
    margin: 10rem 0rem;
    text-align: center;
}

.yellowtext {
    color:#BCAF00
}

.footer {
    text-align: center;
    color: black;
    background-color: #BCAF00;
    font-size: 20px;
    padding: 10px 0px;
    font-weight: bold;
}

.footer:hover {
    color:orangered;
    cursor:pointer;
}

.footer:active {
    color:#00aeef
}
.email {
    color: white;
    background-color:#BCAF00;
    text-align: center;
    padding: 2rem;
    font-weight: ;
    font-size: 20px;
}
.email:hover {
    background-color: ;
    color: orangered;
}

.linkedin {
    max-width: 10%;
    padding:20px 20px;
}

.portrait {
    max-width:25%;
    max-height:fit-content;
    border-style:solid;
    border:4px;
    border-color:#BCAF00;
    border-radius:;
    margin: 0px 0px 0px 120px;
}

.albumimage {
    max-width: 50%;
    margin: 0px 0px 0px 120px;
}

.threequarterwidthimage {
    max-width: 75%;
    max-height: auto;
    margin: 0px 0px 0px 120px;
}

.halfwidthimage {
    max-width: 50%;
    max-height: auto;
}

.smallimage {
    max-width: 20%;

}

.funcategories {
    transform: rotate(-90deg);
    display: inline-block;
    margin: 0px 0px 0px 0px;
    max-width:300px;
    top: 145px;
    left: 80px;

}

.aboutimage {
    max-width: 500px;
}

.fableimage {
    max-width: 50%;
    margin: 0px 0px 0px 120px;
}

.fable {
    background-color: black;
    padding: 0px 0px 0px 0px;
}

.fableblurb {
    color: white;
    background-color: black;
    font-size: 16px;
    width: 50%;
    margin: 20px 0px 0px 120px;
    padding: 0px 0px 60px 0px
}

.fableblurbtitle {
    color: var(--chartreuse);
    background-color: black;
    font-size: 30px;
    margin: 30px 0px 0px 120px;
    font-weight: bold;
}

.fablegradient {
    max-width: 100%

}

.footergradient {
    max-width: 100%;
    margin: 0px;
}

.drawingimage {
    max-height: 600px;
}

.drawingimagediv {
    margin: 0px 0px 0px 120px;
}

.origamipainting {
    margin: 0px 0px 0px 120px;
}

.collage {
    max-height: 500px;
}

.collagediv {
    margin: 0px 0px 0px 120px;
}

.contacticons {
    margin: 0px 0px 0px 638px;
}

.gap {
    margin: 120px 0px;
}

.aboutimagediv {
    margin: 0px 0px 0px 120px;
}

.aboutimage {
    max-height: 300px;
}

.bananasdiv {
    margin: 0px 0px 0px 120px  
}

.bananas {
    max-height: 600px;
}

.possumicon {
    max-height: 180px;
}

.possum {
    max-height: 500px;
}

.possumdiv {
    margin: 0px 0px 0px 120px;
}

.theater {
    max-height: 500px;
}

.theaterpres {
    max-width: 500px;
}
.theaterdiv {
    margin: 0px 0px 0px 120px;
}