/* GENERAL */

body {
    font-family: "open sans";
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --chartreuse: #BCAF00;
}

.threequarterwidthimage {
    max-width: 75%;
    max-height: auto;
}

.halfwidthimage {
    max-width: 50%;
    max-height: auto;
}

.smallimage {
    max-width: 20%;
}

.blurb {
    color: white;
    font-size: 16px;

}

.blurbtitle {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

/* NAVIGATION BAR */

.navbardiv {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    height: 100px;
    margin: 0px 80px 0px 0px;
    }
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        gap: 12px;
        min-width: 800px;
    }
    .logo {
        max-width: 15%;
        margin: 40px;
    }
    .navbarbutton {
        color:white;
        font-size: 20px;
        font-weight: bold;
        font-family: "open sans";
        padding: 40px;
    }
        .navbarbutton:hover {
            color: var(--chartreuse);
            cursor: pointer;
        }
        .navbarbutton:active {
            color:orangered;
        }
    .funcategoriesdiv {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }
        .funcategories {
            max-width: 50%;
        }

/* HOME page stuff below*/

.meltingbackground {
    background: url('/assets/melting.png');
    padding: 200px 0px;
}

.motto {
    color: white;
    background-color: ;
    font-size: 100px;
    font-weight:;
    margin: 60px 0px 40px 120px;
}
    .mottofun1:hover {
        color:#BCAF00;
        cursor: crosshair;
    }

.calltoaction {
    color: white;
    background-color: ;
    font-size: 40px;
    font-weight: medium ;
    width: 20rem;
    height: 4rem;
    text-align: center;
    border: 2px;
    border-style:solid;
    border-color: white;
    border-radius: 20rem;
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 0px 120px;
}
    .calltoaction:hover {
        cursor: pointer;
        background-color: #BCAF00;
        color: black;
        border-color: var(--chartreuse);
    }
    .calltoaction:active {
        background-color:orangered;
        color:black;
        border-color:orangered
    }


.blurbcontainer {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}
    .blurbchild {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    @media screen and (min-width:320px) {
        .blurbcontainer {
            display: flex;
            flex-direction: row;
            gap: 4rem;
            margin: 100px 120px;
        }
    }

.homeline {
    border: none;
    background-color: #BCAF00;
    width: 6px;
}

.quote {
    color: white;
    background-color: black;
    font-size: 50px;
    margin: 10rem 0rem;
    text-align: center;
}
    .yellowtext {
        color:#BCAF00;
    }

.footercontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
    .footerlogocontainer { /*WHAT THE HELL WHY CAN'T I CENTER THE LOGO. ADSKLGJALSDJGOARG */
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
        .footerlogo {
            max-width: 10%;
        }
        
    .footerchild {
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
        .footerchild:hover {
            color: var(--chartreuse);
            cursor:pointer;
        }
        .footerchild:active {
            color: orangered;
        }

    .contacticons-container {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    .contacticons-child {
        max-width: 50px;
    }

/* ABOUT */

.aboutdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px 80px 0px 80px;
    gap: 12px;
}
    .aboutimage {
        max-height: 300px;
    }

    .abouttext {
        display: flex;
        flex-direction: column;
        align-items
    }

.about {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 0px 0px 60px 80px;
}

/* COVER ART */

.waterdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    margin: 6.25%; /* 25% divided by 4 sides*/
}
    .watertext {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .waterimage {
        max-width: 900px;
    }

.algernondiv {
    display: flex;
    flex-direction: row;
    margin: 6.25%;
    gap: 60px;
    align-items: center;
}
    .algernontext {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .algernonimage {
        max-width: 900px;
    }

.nexttonormaldiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    margin: 6.25%;
}
    .nexttonormaltext {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .nexttonormalimage {
        max-width: 900px;
    }

    .fullwidthimage {
    max-width: 100%;
}

/* LAYOUT DESIGN */

.menucontainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    align-content: center;
    gap: 20px;
}
    .menuimagecontainer {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        align-content: center;
    }
    .menutext {
        margin: 0px 215px 0px 800px;
        max-width: ;
        text-align: right;
    }

.bananadiv {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 215px;
}
    .banana-row1 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
        .bananatext{
            display:flex;
            flex-direction: column;
            align-items: start;
            gap: 15px;
            margin: 0px 15px 0px 0px;
        }

    .banana-row2 {
        display: flex;
        flex-direction: row;
    }
    
    .bananaimage {
        max-height: 500px;
    }

.possumdiv {
    margin: 0px 0px 0px 120px;
}
    .possumicon {
        max-height: 180px;
    }
    .possum {
        max-height: 500px;
    }

.fableimage {
    max-width: 50%;
    margin: 0px 0px 0px 120px;
}

.fable {
    background-color: black;
    padding: 0px 0px 0px 0px;
}

.fableblurb {
    color: white;
    background-color: black;
    font-size: 16px;
    width: 50%;
    margin: 20px 0px 0px 120px;
    padding: 0px 0px 60px 0px
}

.fableblurbtitle {
    color: var(--chartreuse);
    background-color: black;
    font-size: 30px;
    margin: 30px 0px 0px 120px;
    font-weight: bold;
}

/* ARTWORK */

.theaterdiv {
    margin: 0px 0px 0px 120px;
}
    .theater {
        max-height: 500px;
    }
    .theaterpres {
    max-width: 500px;
    }

.collagediv {
    margin: 0px 0px 0px 120px;
}
    .collage {
    max-height: 500px;
    }

.drawingimagediv {
    margin: 0px 0px 0px 120px;
}
    .drawingimage {
        max-height: 600px;
    }

.origamipainting {
    margin: 0px 0px 0px 120px;
}
